@model WebshopBasePageModel

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <img height="50" src="~/img/pear.png" />
        <a class="navbar-brand" asp-area="" asp-page="/Index">JP's Fruit Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @{
                    int totalCount = Model.Cart.Positionen.Sum(pos => pos.Menge);
                    
                    var entries = new List<MenuEntry>();
                    entries.Add(new MenuEntry { Title = "🏠 Home", Link = "/Index" });
                    entries.Add(new MenuEntry { Title = "🔍 Artikelsuche", Link = "/Search" });
                    entries.Add(new MenuEntry { Title = $"🛒 Warenkorb{(totalCount > 0 ? $" ({totalCount})" : "")}", Link = "/Cart" });
                    if(Model.CurrentUser != null) { entries.Add(new MenuEntry { Title = "🛍 Bestellungen", Link = "/Order" });}
                    entries.Add(new MenuEntry { Title = "ℹ️ Datenschutz", Link = "/Privacy" });
                }


                @foreach (MenuEntry item in entries)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="@item.Link">@item.Title</a>
                    </li>
                }
            </ul>

            @if (Model.CurrentUser == null)
            {
                <span style="float: right; margin:5px;"><a asp-area="" asp-page="/Login">Anmelden</a></span>
                <span style="float: right; margin:5px;"><a asp-area="" asp-page="/Register">Registrieren</a></span>
            }
            else
            {
                <span style="float: right; margin:5px;">Angemeldet als @Model.CurrentUser.ToString()</span>
                <form method="post"><button class="btn btn-primary" asp-page="/Login" asp-page-handler="Logout">Abmelden</button></form>
            }
        </div>
    </div>
</nav>