@page
@model PrivacyModel
@{
    ViewData["Title"] = "Datenschutz";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Wir speichern alles, was wir finden können in unserer großen Big-Data Datenbank.</p>
<p>Zusätzlich verkaufen wir all Ihre Daten, die Geld bringen und müllen Sie mit tonnenweise Werbung zu.</p>
<p>Durch das Bestellen in unseren Shop erklären Sie sich damit einverstanden.</p>
<p>Vielen Dank, dass Sie dieses arme Unternehmen, welches das alles nur zum Wohl der Menschheit macht, unterstützen :)</p>